.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include  respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom,
          rgba($color-primary-light, 0.8),//doesn't work in regular CSS
          rgba($color-primary-dark, 0.8)),
  url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -11.5rem;

  & > * {
    transform: skewY(7deg);
  }

  @include  respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -11.5rem;

  @include  respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem;
  @include  respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include  respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg, //set the gradient to 105 degrees
          rgba($color-white, .9) 0%,
          rgba($color-white, .9) 50%, //set color to white from 0% to 50%
          transparent 50%),//make the other 50% transparent
  url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);


  @include  respond(tab-land) {
    background-image: linear-gradient(105deg, //set the gradient to 105 degrees
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 65%, //set color to white from 0% to 50%
            transparent 65%),//make the other 50% transparent
    url(../img/nat-10.jpg);

    background-size: cover;

  }

  @include  respond(tab-port) {
    background-image: linear-gradient(to right, //set the gradient to 105 degrees
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 100%),//make the other 50% transparent
    url(../img/nat-10.jpg);

  }

  &__form {
    width: 50%;
    padding: 6rem;
    @include  respond(tab-land) {
      width: 65%;
    }
    @include  respond(tab-port) {
      width: 100%;
    }
  }
}