*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //defines the value of 1rem, to set 1rem = 10px; do this 10px/16px(default browser font size) = 62.5%, this sets default browser font size to 62.5% which in turn means 1 rem is now translated to 10px
  font-size: 62.5%; /* Root font size, putting in percentage allows adjustment based on what the user sets as default view */


  @include respond(tab-land) {
    font-size: 56.25%; //Set 1rem = 9px, 9/16 = 50%
  }
  @include respond(tab-port) {
    font-size: 50%; //Set 1rem = 8px, 8/16 = 50%
  }

  // the order of the media queries for Desktop first should always be from top to bottom because the browser will use the last value first
  @include respond(big-desktop) {
    font-size: 75%; //Set 1 rem = 12px, 12/16 = 75%
  }
}

body {
   box-sizing: border-box;
   padding: 3rem; /* convert to rem by dividing pixel number by root pixel value */
  @include respond(tab-port) {
    padding: 0;
  }

 }

::selection {
  background-color: $color-primary;
  color: $color-white;
}