.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom,
          rgba($color-primary-light, 0.8),/**doesn't work in regular CSS*/
          rgba($color-primary-dark, 0.8)),
  url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  position: relative;


  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0,100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0,100% 0, 100% 75vh, 0 100%);
    height: 95vh;
}

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
          only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
          only screen and (min-width: 125em) { //this new image is shown when the minimum resolution is larger than 192dpi and the min width is ;arger than 600px
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),/**doesn't work in regular CSS*/
            rgba($color-primary-dark, 0.8)),
    url("../img/hero.jpg");
  }


  @include respond(phone){
    -webkit-clip-path: polygon(0 0,100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0,100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {//this is equal to .header__logo-box
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }



}
